server:
  port: 8080

spring:
  datasource:
    username: remoteUser
    password: 20041114Liuyu!
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://8.137.146.104/WorkManagement

  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    root: info
    org.hibernate.SQL: debug